<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="40px">

  <div fxLayout="row" fxLayoutGap="60px">

    <div class="module module-active" fxLayoutAlign="center center" (click)="employeeDetails()">EMPLOYEE DETAILS</div>
    <div class="module" fxLayoutAlign="center center">YODA</div>
    <div class="module" fxLayoutAlign="center center">PAYROLL</div>

  </div>


  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="60px">

    <div class="module" fxLayoutAlign="center center">CHATBOX</div>
    <div class="module" fxLayoutAlign="center center">ATTENDANCE</div>
    <div class="module" fxLayoutAlign="center center">LATEST UPDATES</div>
  </div>

</div>
